__pycache__
env
*.sqlite3
*.pyc
.env.staging
.env.dev*
.env.local*
fixtures/
.env
.env.prod
Dockerfile.local
docker-compose.prev.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.preprod.yml
docker-compose.local.yml
Dockerfile.local
.env.staging.proxy-companion
.env.prod.proxy-companion
db_copy.json
movies_data.json
.deployscript
